WORDPRESS_IMAGE_TAG=6.8.3-php8.3-apache

WP_DB_NAME=wordpress
WP_DB_USER=wordpress
WP_DB_PASSWORD=brBR2026dfDF
WP_DB_ROOT_PASSWORD=brBR2026dfDF-root

WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_SITE_URL=https://toluja.com
